html, body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .container {
    flex: 1;
  }
  body {
    user-select: none; /* Tüm sayfada metin seçimi devre dışı */
  }