  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col">
      <div class="card h-100 w-70">
        <img src="https://academy.capgemini.nl/sites/default/files/spotlight/FotoMX-99.jpg" class="card-img-top" alt="..." width="200px" width="200px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
